# 1.2 Construção do Modelo

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import pearsonr

### 1.2.1 Abrindo o dataset e tratando os dados

In [3]:
data = pd.read_csv('PCOS.csv')

In [4]:
data.head(2)

,Unnamed: 0,Sl. No,Patient File No.,PCOS (Y/N),Age (yrs),Weight (Kg),Height(Cm),BMI,Blood Group,Pulse rate(bpm),...,Pimples(Y/N),Fast food (Y/N),Reg.Exercise(Y/N),BP _Systolic (mmHg),BP _Diastolic (mmHg),Follicle No. (L),Follicle No. (R),Avg. F size (L) (mm),Avg. F size (R) (mm),Endometrium (mm)
0,0,1,1,0,28,44.6,152.0,19.3,15,78,...,0,1.0,0,110,80,3,3,18.0,18.0,8.5
1,1,2,2,0,36,65.0,161.5,24.9,15,74,...,0,0.0,0,120,70,3,5,15.0,14.0,3.7

In [5]:
data.dropna(inplace=True)

In [6]:
data = data.replace({'1.99.': 1.99})

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 539 entries, 0 to 540
Data columns (total 45 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              539 non-null    int64
 1   Sl. No                  539 non-null    int64
 2   Patient File No.        539 non-null    int64
 3   PCOS (Y/N)              539 non-null    int64
 4    Age (yrs)              539 non-null    int64
 5   Weight (Kg)             539 non-null    float64
 6   Height(Cm)              539 non-null    float64
 7   BMI                     539 non-null    float64
 8   Blood Group             539 non-null    int64
 9   Pulse rate(bpm)         539 non-null    int64
 10  RR (breaths/min)        539 non-null    int64
 11  Hb(g/dl)                539 non-null    float64
 12  Cycle(R/I)              539 non-null    int64
 13  Cycle length(days)      539 non-null    int64
 14  Marraige Status (Yrs)   539 non-null    float64
 15  Pregnant(Y/N)           539 non-null    int64
 16  No. of abortions        539 non-null    int64
 17    I   beta-HCG(mIU/mL)  539 non-null    float64
 18  II    beta-HCG(mIU/mL)  539 non-null    object
 19  FSH(mIU/mL)             539 non-null    float64
 20  LH(mIU/mL)              539 non-null    float64
 21  FSH/LH                  539 non-null    float64
 22  Hip(inch)               539 non-null    int64
 23  Waist(inch)             539 non-null    int64
 24  Waist:Hip Ratio         539 non-null    float64
 25  TSH (mIU/L)             539 non-null    float64
 26  AMH(ng/mL)              539 non-null    object
 27  PRL(ng/mL)              539 non-null    float64
 28  Vit D3 (ng/mL)          539 non-null    float64
 29  PRG(ng/mL)              539 non-null    float64
 30  RBS(mg/dl)              539 non-null    float64
 31  Weight gain(Y/N)        539 non-null    int64
 32  hair growth(Y/N)        539 non-null    int64
 33  Skin darkening (Y/N)    539 non-null    int64
 34  Hair loss(Y/N)          539 non-null    int64
 35  Pimples(Y/N)            539 non-null    int64
 36  Fast food (Y/N)         539 non-null    float64
 37  Reg.Exercise(Y/N)       539 non-null    int64
 38  BP _Systolic (mmHg)     539 non-null    int64
 39  BP _Diastolic (mmHg)    539 non-null    int64
 40  Follicle No. (L)        539 non-null    int64
 41  Follicle No. (R)        539 non-null    int64
 42  Avg. F size (L) (mm)    539 non-null    float64
 43  Avg. F size (R) (mm)    539 non-null    float64
 44  Endometrium (mm)        539 non-null    float64
dtypes: float64(19), int64(24), object(2)
memory usage: 193.7+ KB

In [8]:
data[data['AMH(ng/mL)'] == "a"]

,Unnamed: 0,Sl. No,Patient File No.,PCOS (Y/N),Age (yrs),Weight (Kg),Height(Cm),BMI,Blood Group,Pulse rate(bpm),...,Pimples(Y/N),Fast food (Y/N),Reg.Exercise(Y/N),BP _Systolic (mmHg),BP _Diastolic (mmHg),Follicle No. (L),Follicle No. (R),Avg. F size (L) (mm),Avg. F size (R) (mm),Endometrium (mm)
305,305,306,306,0,37,56.0,152.0,24.2,13,74,...,1,0.0,1,120,70,4,5,17.0,16.0,5.6

In [9]:
data.drop([305], inplace=True)

In [10]:
data['II    beta-HCG(mIU/mL)'] = pd.to_numeric(data['II    beta-HCG(mIU/mL)'])

In [11]:
data['AMH(ng/mL)'] = pd.to_numeric(data['AMH(ng/mL)'])

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 538 entries, 0 to 540
Data columns (total 45 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              538 non-null    int64
 1   Sl. No                  538 non-null    int64
 2   Patient File No.        538 non-null    int64
 3   PCOS (Y/N)              538 non-null    int64
 4    Age (yrs)              538 non-null    int64
 5   Weight (Kg)             538 non-null    float64
 6   Height(Cm)              538 non-null    float64
 7   BMI                     538 non-null    float64
 8   Blood Group             538 non-null    int64
 9   Pulse rate(bpm)         538 non-null    int64
 10  RR (breaths/min)        538 non-null    int64
 11  Hb(g/dl)                538 non-null    float64
 12  Cycle(R/I)              538 non-null    int64
 13  Cycle length(days)      538 non-null    int64
 14  Marraige Status (Yrs)   538 non-null    float64
 15  Pregnant(Y/N)           538 non-null    int64
 16  No. of abortions        538 non-null    int64
 17    I   beta-HCG(mIU/mL)  538 non-null    float64
 18  II    beta-HCG(mIU/mL)  538 non-null    float64
 19  FSH(mIU/mL)             538 non-null    float64
 20  LH(mIU/mL)              538 non-null    float64
 21  FSH/LH                  538 non-null    float64
 22  Hip(inch)               538 non-null    int64
 23  Waist(inch)             538 non-null    int64
 24  Waist:Hip Ratio         538 non-null    float64
 25  TSH (mIU/L)             538 non-null    float64
 26  AMH(ng/mL)              538 non-null    float64
 27  PRL(ng/mL)              538 non-null    float64
 28  Vit D3 (ng/mL)          538 non-null    float64
 29  PRG(ng/mL)              538 non-null    float64
 30  RBS(mg/dl)              538 non-null    float64
 31  Weight gain(Y/N)        538 non-null    int64
 32  hair growth(Y/N)        538 non-null    int64
 33  Skin darkening (Y/N)    538 non-null    int64
 34  Hair loss(Y/N)          538 non-null    int64
 35  Pimples(Y/N)            538 non-null    int64
 36  Fast food (Y/N)         538 non-null    float64
 37  Reg.Exercise(Y/N)       538 non-null    int64
 38  BP _Systolic (mmHg)     538 non-null    int64
 39  BP _Diastolic (mmHg)    538 non-null    int64
 40  Follicle No. (L)        538 non-null    int64
 41  Follicle No. (R)        538 non-null    int64
 42  Avg. F size (L) (mm)    538 non-null    float64
 43  Avg. F size (R) (mm)    538 non-null    float64
 44  Endometrium (mm)        538 non-null    float64
dtypes: float64(21), int64(24)
memory usage: 193.3 KB

### Usando a correlação de Pearson para encontrar os melhores atributos preditores

In [13]:
X = data.drop(columns=['PCOS (Y/N)'], axis=1)
y = data["PCOS (Y/N)"]

In [14]:
correlations = []
for col in X.columns:
    corr, _ = pearsonr(X[col], y)
    correlations.append(corr)

# criar um dicionário de features e seus coeficientes de correlação
corr_dict = dict(zip(X.columns, correlations))

# ordena o dicionário por coeficiente de correlação em ordem decrescente
sorted_corr_dict = {k: v for k, v in sorted(corr_dict.items(), key=lambda item: item[1], reverse=True)}

N = 20
selected_features = list(sorted_corr_dict.keys())[:N]

# use the selected features for machine learning modeling
X_selected = X[selected_features]

In [15]:
X_selected

,Follicle No. (R),Follicle No. (L),Skin darkening (Y/N),hair growth(Y/N),Weight gain(Y/N),Cycle(R/I),Fast food (Y/N),Pimples(Y/N),AMH(ng/mL),Weight (Kg),BMI,Hair loss(Y/N),Waist(inch),Hip(inch),Avg. F size (L) (mm),Endometrium (mm),Avg. F size (R) (mm),Pulse rate(bpm),Hb(g/dl),Vit D3 (ng/mL)
0,3,3,0,0,0,2,1.0,0,2.07,44.6,19.3,0,30,36,18.0,8.5,18.0,78,10.48,17.1
1,5,3,0,0,0,2,0.0,0,1.53,65.0,24.9,0,32,38,15.0,3.7,14.0,74,11.70,61.3
2,15,13,0,0,0,2,1.0,1,6.63,68.8,25.3,1,36,40,18.0,10.0,20.0,72,11.80,49.7
3,2,2,0,0,0,2,0.0,0,1.22,65.0,29.7,0,36,42,15.0,7.5,14.0,72,12.00,33.4
4,4,3,0,0,0,2,0.0,0,2.26,52.0,20.1,1,30,37,16.0,7.0,14.0,72,10.00,43.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536,0,1,0,0,0,2,0.0,0,1.70,50.0,18.5,0,26,28,17.5,6.7,10.0,72,11.00,36.6
537,7,9,0,0,1,2,0.0,0,5.60,63.2,25.3,0,32,34,19.0,8.2,18.0,72,10.80,23.0
538,0,1,0,0,0,2,0.0,0,3.70,54.0,23.4,0,28,30,18.0,7.3,9.0,74,10.80,22.5
539,6,7,0,0,0,4,0.0,1,5.20,50.0,22.2,0,26,28,18.0,11.5,16.0,74,12.00,22.4
540,10,9,1,1,1,4,1.0,1,20.00,82.0,30.1,1,46,48,19.0,6.9,18.0,80,10.20,17.4

In [16]:
data

,Unnamed: 0,Sl. No,Patient File No.,PCOS (Y/N),Age (yrs),Weight (Kg),Height(Cm),BMI,Blood Group,Pulse rate(bpm),...,Pimples(Y/N),Fast food (Y/N),Reg.Exercise(Y/N),BP _Systolic (mmHg),BP _Diastolic (mmHg),Follicle No. (L),Follicle No. (R),Avg. F size (L) (mm),Avg. F size (R) (mm),Endometrium (mm)
0,0,1,1,0,28,44.6,152.000,19.3,15,78,...,0,1.0,0,110,80,3,3,18.0,18.0,8.5
1,1,2,2,0,36,65.0,161.500,24.9,15,74,...,0,0.0,0,120,70,3,5,15.0,14.0,3.7
2,2,3,3,1,33,68.8,165.000,25.3,11,72,...,1,1.0,0,120,80,13,15,18.0,20.0,10.0
3,3,4,4,0,37,65.0,148.000,29.7,13,72,...,0,0.0,0,120,70,2,2,15.0,14.0,7.5
4,4,5,5,0,25,52.0,161.000,20.1,11,72,...,0,0.0,0,120,80,3,4,16.0,14.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536,536,537,537,0,35,50.0,164.592,18.5,17,72,...,0,0.0,0,110,70,1,0,17.5,10.0,6.7
537,537,538,538,0,30,63.2,158.000,25.3,15,72,...,0,0.0,0,110,70,9,7,19.0,18.0,8.2
538,538,539,539,0,36,54.0,152.000,23.4,13,74,...,0,0.0,0,110,80,1,0,18.0,9.0,7.3
539,539,540,540,0,27,50.0,150.000,22.2,15,74,...,1,0.0,0,110,70,7,6,18.0,16.0,11.5
540,540,541,541,1,23,82.0,165.000,30.1,13,80,...,1,1.0,0,120,70,9,10,19.0,18.0,6.9

### Estimando o número de neurônios

1. Obtendo os valores de $N_i$ e $N_o$

In [27]:
n_o = 1
n_i = X_selected.shape[1] + 1

print(f'No: {n_o}')
print(f'Ni: {n_i}')

No: 1
Ni: 21

2. Testando os valores de $\alpha$ como $0.5$, $2$ e $3$.

In [28]:
import math 

alphas = [0.5, 2, 3]
n_h = []

for alpha in alphas:
  n_h.append(round(alpha * math.sqrt(n_i * n_o)))

n_h

[2, 9, 14]

3. Propondo pelo menos 30 arquiteturas de neurônios segundo a regra da pirâmide geométrica

In [29]:
def get_architectures(Nh, quant):
    S = [i for i in range(int(Nh))]
    arch_list = []
    for i in range(len(S)):
        for j in range(len(S)):
            if ((S[i], S[j]) not in arch_list) and (i + j == len(S) and (len(arch_list) < quant)):
                arch_list.append((S[i], S[j]))
    
    return arch_list

layer_arch = []
layer_0 = get_architectures(n_h[0], 2)
layer_1 = get_architectures(n_h[1], 9)
layer_2 = get_architectures(n_h[2], 14)
layer_arch = layer_0 + layer_1 + layer_2

print(layer_arch)

[(1, 1), (1, 8), (2, 7), (3, 6), (4, 5), (5, 4), (6, 3), (7, 2), (8, 1), (1, 13), (2, 12), (3, 11), (4, 10), (5, 9), (6, 8), (7, 7), (8, 6), (9, 5), (10, 4), (11, 3), (12, 2), (13, 1)]

### Busca em Grade

In [ ]:
param_grid = {
       
}